.register-container {
  width: 350px;
 margin-left: 170px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #f9f9f9;
  direction: rtl;
  text-align: center;
  font-family: Arial, sans-serif;
  margin-left:430px ;
}

.register-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.register-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #aaa;
  border-radius: 6px;
  box-sizing: border-box;
}

.register-container button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-container button:hover {
  background-color: #45a049;
}


.back-button {
  margin-top: 10px;
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #ddd;
}
